@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SatoshiBold';
  src: url('/font/Satoshi-Bold.otf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/font/Satoshi-Regular.otf') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Clash Display';
  src: url('/font/ClashDisplay-Regular.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body{
  overflow-x: hidden;
  max-width: 1440px;
  margin: auto;
  background-color: white;
  font-family: "Satoshi", sans-serif;
}

h1,
h2,
h1,
h3,
h4,
h5,
h6
{
  font-family:  'Clash Display', sans-serif;

}

p,button{
  font-family:  'Satoshi', sans-serif;

}